@model IEnumerable<DigginPharoh.Models.Cranial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burial_Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sample_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maximum_Cranial_Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maximum_Cranial_Breadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basion_Bregma_Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basion_Nasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basion_Prosthion_Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bizygomatic_Diameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nasion_Prosthion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maximum_Nasal_Breadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interorbital_Breadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Burial_Artifact_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buried_with_Artifacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giles_Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body_Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Burial_Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sample_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maximum_Cranial_Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maximum_Cranial_Breadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basion_Bregma_Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basion_Nasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basion_Prosthion_Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bizygomatic_Diameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nasion_Prosthion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maximum_Nasal_Breadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interorbital_Breadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Burial_Artifact_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buried_with_Artifacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giles_Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body_Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Burial_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Burial_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Burial_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
