@model IEnumerable<DigginPharoh.Models.Cranial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="Cranials" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Burial Length
                </th>
                <th>
                    Sample Number
                </th>
                <th>
                    Maximum Cranial Length
                </th>
                <th>
                    Maximum Cranial Breadth
                </th>
                <th>
                    Basion Bregma Height
                </th>
                <th>
                    Basion Nasion
                </th>
                <th>
                    Basion Prosthion Length
                </th>
                <th>
                    Bizygomatic Diameter
                </th>
                <th>
                    Nasion Prosthion
                </th>
                <th>
                    Maximum Nasal Breadth
                </th>
                <th>
                    Interorbital Breadth
                </th>
                <th>
                    Burial Artifact Description
                </th>
                <th>
                    Buried with Artifacts
                </th>
                <th>
                    Giles Gender
                </th>
                <th>
                    Body Gender
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Burial_Depth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sample_Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maximum_Cranial_Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maximum_Cranial_Breadth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Basion_Bregma_Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Basion_Nasion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Basion_Prosthion_Length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bizygomatic_Diameter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nasion_Prosthion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maximum_Nasal_Breadth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Interorbital_Breadth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Burial_Artifact_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buried_with_Artifacts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Giles_Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body_Gender)
                    </td>
                    <td>
                        <a asp-controller="Cranials" asp-action="Edit" asp-route-id="@item.Burial_Id">Edit</a> |
                        <a asp-controller="Cranials" asp-action="Details" asp-route-id="@item.Burial_Id">Details</a> |
                        <a asp-controller="Cranials" asp-action="Delete" asp-route-id="@item.Burial_Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>