@model DigginPharoh.Models.Burial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-client.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Burial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gamous_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gamous_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.burial_depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.burial_depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WESTTOHEAD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WESTTOHEAD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WESTTOFEET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WESTTOFEET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SOUTHTOHEAD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SOUTHTOHEAD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SOUTHTOFEET)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SOUTHTOFEET)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burial_Situation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burial_Situation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.head_direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.head_direction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adult_Child)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adult_Child)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estimate_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estimate_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AGEMETHOD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AGEMETHOD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender_body_col)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender_body_col)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex_Gender_GE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex_Gender_GE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SEXMETHOD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SEXMETHOD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GE_function_total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GE_function_total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.length_of_remains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.length_of_remains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sample_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sample_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.basilar_suture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basilar_suture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ventral_arc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ventral_arc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subpubic_angle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subpubic_angle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sciatic_notch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sciatic_notch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pubic_bone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pubic_bone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preaur_sulcus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preaur_sulcus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medial_IP_ramus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medial_IP_ramus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dorsal_pitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dorsal_pitting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.femur_head)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.femur_head)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.humerus_head)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.humerus_head)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.osteophytosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.osteophytosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pubic_symphysis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pubic_symphysis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.femur_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.femur_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.humerus_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.humerus_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tibia_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tibia_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.robust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.robust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supraorbital_ridges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supraorbital_ridges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orbit_edge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orbit_edge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parietal_bossing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parietal_bossing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gonian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gonian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nuchal_crest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nuchal_crest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zygomatic_crest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zygomatic_crest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cranial_suture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cranial_suture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maximum_cranial_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maximum_cranial_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maximum_cranial_breadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maximum_cranial_breadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.basion_bregma_height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basion_bregma_height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.basion_nasion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basion_nasion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.basion_prosthion_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basion_prosthion_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bizygomatic_diameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bizygomatic_diameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nasion_prosthion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nasion_prosthion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maximum_nasal_breadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maximum_nasal_breadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.interorbital_breadth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.interorbital_breadth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.artifacts_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artifacts_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hair_color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hair_color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hair_taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hair_taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soft_tissue_taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soft_tissue_taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bone_taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bone_taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tooth_taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tooth_taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.textile_taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.textile_taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SAMPLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SAMPLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description_of_taken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description_of_taken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.artifact_found)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artifact_found)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estimate_living_stature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estimate_living_stature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tooth_attrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tooth_attrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tooth_eruption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tooth_eruption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pathology_anomalies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pathology_anomalies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.epiphyseal_union)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.epiphyseal_union)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year_found)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year_found)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.month_found)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.month_found)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.day_found)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.day_found)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field_Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field_Book)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field_Book_Page_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field_Book_Page_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skull_At_Magazine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skull_At_Magazine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcrania_At_Magazine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcrania_At_Magazine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack_And_Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack_And_Shelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To_Be_Confirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To_Be_Confirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skull_Trauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skull_Trauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postcrania_Trauma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postcrania_Trauma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cribra_Orbitala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cribra_Orbitala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porotic_Hyperostosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porotic_Hyperostosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porotic_Hyperostosis_Locations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porotic_Hyperostosis_Locations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metopic_Suture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metopic_Suture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Button_Osteoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Button_Osteoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Osteology_Unknown_Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Osteology_Unknown_Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temporal_Mandibular_Joint_Osteoarthritis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temporal_Mandibular_Joint_Osteoarthritis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linear_Hypoplasia_Enamel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linear_Hypoplasia_Enamel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area_Hill_Burials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area_Hill_Burials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tomb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tomb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cluster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cluster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Face_Bundle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Face_Bundle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body_Analysis_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body_Analysis_Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Burial_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
