@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout-client";
}
@model DigginPharoh.Models.ViewModels.IndexViewModel


<style>
    body {
        background-color: #FFBF80;
    }

    .navbar {
        background: rgba(0, 0, 0, .7) !important;
        transition: background-color 1s ease;
    }

    .BurialH1 {
        font-size: 2.2rem;
        letter-spacing: .2rem;
        text-shadow: 0.1rem 0.1rem 0.1rem black;
        margin-top: 4.2rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .col-pos {
        margin-top: 6.5rem;
    }

    .filter-bt {
        margin: 0 0 .4rem 1rem;
    }
</style>

<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Plugins.css -->
    <link href="~/css/plugins.css" rel="stylesheet">

    <!-- Style.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Plugins.css -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Google Fonts https://fonts.google.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Animate.css https://cdnjs.com/libraries/animate.css/
    https://daneden.github.io/animate.css/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <!-- Lightbox Image Gallery https://cdnjs.com/libraries/lightbox2  https://lokeshdhakar.com/projects/lightbox2/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <!-- Owl Carousel https://cdnjs.com/libraries/OwlCarousel2
    http://owlcarousel2.github.io/OwlCarousel2/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>


<body>
    <h1 class="BurialH1">Burial Summary</h1>

    <div class="row">
        <div class="col-md-2">
            <!--Filters go here-->
            <form asp-action="Filter" method="post">
                <div class="form-group">
                    @*<label>Head Direction:</label>
                        <select name="filter" class="form-control"
                                asp-items="@(new SelectList(ViewBag.GamousBurials, "head_direction", ViewBag.Filters.HeadDirection))">
                            <option value="all">All</option>
                        </select>*@
                </div>
            </form>

            <button type="submit" class="btn btn-primary filter-bt">Filter</button>
            <a asp-action="BurialSummary" asp-route-id="" class="btn btn-primary filter-bt">Clear</a>
        </div>

        <div class="col-md-10">

            <div class="h-75 d-inline-block">
                <table class="table table-striped table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Burial ID</th>
                            <th scope="col">Depth</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Body Gender</th>
                            <th scope="col">Head Direction</th>
                            <th scope="col">Preservation</th>
                            <th scope="col">Year Found</th>
                            <th><!--This is a blank col for the button--></th>
                            <th><!--This is a blank col for the button--></th>
                            <th><!--This is a blank col for the button--></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model.BurialList)
                        {
                        <tr>

                            <th scope="row">@x.Burial_Id</th>
                            <td>@x.burial_depth cm.</td>
                            <td>@x.Sex_Gender_GE</td>
                            <td>@x.gender_body_col</td>
                            <td>@x.head_direction</td>
                            <td>@x.Preservation</td>
                            <td>@x.year_found</td>
                            @*<td><a type="button" class="btn-outline-info">Details</a></td>*@

                            @*See the Detail of the Gamous*@
                            <td>
                                <form id="@x.Burial_Id" asp-action="BurialDetails" method="post" class="btn-outline-info">
                                    <input type="hidden" asp-for="@x.Burial_Id" name="detailId" />
                                    <button type="submit">Detail</button>
                                </form>
                            </td>

                            @*Edit Movies matching edit and movieId research*@
                            <td>
                                <form id="@x.Burial_Id" asp-action="EditForm" method="post" class="btn-outline-info">
                                    <input type="hidden" asp-for="@x.Burial_Id" name="editId" />
                                    <button type="submit">Edit</button>
                                </form>
                            </td>

                            @*Delete Existing Movies using deleteid research*@
                            <td>
                                <form id="@x.Burial_Id" asp-action="Delete" method="post" class="btn-outline-info">
                                    <input type="hidden" asp-for="@x.Burial_Id" name="deletionId" />
                                    <button type="submit">Delete</button>
                                </form>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div page-model="@Model.PagingInfo" page-action="BurialSummary"
         page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1">
    </div>
</body>
