@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model DigginPharoh.Models.ViewModels.IndexViewModel

<h1 class="BurialH1">Detailed Burial Information </h1>



<div class="col-md-11">

    <div class="h-75 d-inline-block">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Burial ID
                    </th>
                    <th>
                        Gamous_Id
                    </th>
                    <th>
                        Burial Depth
                    </th>
                    <th>
                        WEST TO Head
                    </th>
                    <th>
                        WEST TO Feet
                    </th>
                    <th>
                        SOUTH TO Head
                    </th>
                    <th>
                        SOUTH TO Feet
                    </th>
                    <th>
                        Preservation
                    </th>
                    <th>
                        Burial Situation
                    </th>
                    <th>
                        Head Direction
                    </th>
                    <th>
                        Adult/Child
                    </th>
                    <th>
                        Estimate Age
                    </th>
                    <th>
                        Age Method
                    </th>
                    <th>
                        Gender Body Col
                    </th>
                    <th>
                        Sex Gender GE
                    </th>
                    <th>
                        Sex Method
                    </th>
                    <th>
                        GE_function_total
                    </th>
                    <th>
                        Length_of_remains
                    </th>
                    <th>
                        Sample#
                    </th>
                    <th>
                        Basilar_suture
                    </th>
                    <th>
                        Ventral_arc
                    </th>
                    <th>
                        Subpubic_angle
                    </th>
                    <th>
                        sciatic_notch
                    </th>
                    <th>
                        pubic_bone
                    </th>
                    <th>
                        preaur_sulcus
                    </th>
                    <th>
                        Medial_IP_ramus
                    </th>
                    <th>
                        dorsal_pitting
                    </th>
                    <th>
                        femur_head
                    </th>
                    <th>
                        humerus_head
                    </th>
                    <th>
                        osteophytosis
                    </th>
                    <th>
                        pubic_symphysis
                    </th>
                    <th>
                        femur_length
                    </th>
                    <th>
                        humerus_length
                    </th>
                    <th>
                        tibia_length
                    </th>
                    <th>
                        robust
                    </th>
                    <th>
                        supraorbital_ridges
                    </th>
                    <th>
                        orbit_edge
                    </th>
                    <th>
                        parietal_bossing
                    </th>
                    <th>
                        gonian
                    </th>
                    <th>
                        nuchal_crest
                    </th>
                    <th>
                        zygomatic_crest
                    </th>
                    <th>
                        cranial_suture
                    </th>
                    <th>
                        maximum_cranial_length
                    </th>
                    <th>
                        maximum_cranial_breadth
                    </th>
                    <th>
                        basion_bregma_height
                    </th>
                    <th>
                        basion_nasion
                    </th>
                    <th>
                        basion_prosthion_length
                    </th>
                    <th>
                        bizygomatic_diameter
                    </th>
                    <th>
                        nasion_prosthion
                    </th>
                    <th>
                        maximum_nasal_breadth
                    </th>
                    <th>
                        interorbital_breadth
                    </th>
                    <th>
                        artifacts_description
                    </th>
                    <th>
                        hair_color
                    </th>
                    <th>
                        hair_taken
                    </th>
                    <th>
                        soft_tissue_taken
                    </th>
                    <th>
                        bone_taken
                    </th>
                    <th>
                        tooth_taken
                    </th>
                    <th>
                        textile_taken
                    </th>
                    <th>
                        SAMPLE
                    </th>
                    <th>
                        description_of_taken
                    </th>
                    <th>
                        artifact_found
                    </th>
                    <th>
                        estimate_living_stature
                    </th>
                    <th>
                        tooth_attrition
                    </th>
                    <th>
                        tooth_eruption
                    </th>
                    <th>
                        pathology_anomalies
                    </th>
                    <th>
                        epiphyseal_union
                    </th>
                    <th>
                        year_found
                    </th>
                    <th>
                        month_found
                    </th>
                    <th>
                        day_found
                    </th>
                    <th>
                        Field_Book
                    </th>
                    <th>
                        Field_Book_Page_Number
                    </th>
                    <th>
                        Skull_At_Magazine
                    </th>
                    <th>
                        Postcrania_At_Magazine
                    </th>
                    <th>
                        Rack_And_Shelf
                    </th>
                    <th>
                        To_Be_Confirmed
                    </th>
                    <th>
                        Skull_Trauma
                    </th>
                    <th>
                        Postcrania_Trauma
                    </th>
                    <th>
                        Cribra_Orbitala
                    </th>
                    <th>
                        Porotic_Hyperostosis
                    </th>
                    <th>
                        Porotic_Hyperostosis_Locations
                    </th>
                    <th>
                        Metopic_Suture
                    </th>
                    <th>
                        Button_Osteoma
                    </th>
                    <th>
                        Osteology_Unknown_Comment
                    </th>
                    <th>
                        Temporal_Mandibular_Joint_Osteoarthritis
                    </th>
                    <th>
                        Linear_Hypoplasia_Enamel
                    </th>
                    <th>
                        Area_Hill_Burials
                    </th>
                    <th>
                        Tomb
                    </th>
                    <th>
                        Goods
                    </th>
                    <th>
                        Cluster
                    </th>
                    <th>
                        Face_Bundle
                    </th>
                    <th>
                        Body_Analysis_Year
                    </th>

                    <th><!--This is a blank col for the button--></th>
                    <th><!--This is a blank col for the button--></th>
                    <th><!--This is a blank col for the button--></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.BurialList)
                {
                <tr>

                    <th scope="row">@x.Burial_Id</th>
                    <td>
                        @x.Gamous_Id
                    </td>
                    <td>
                        @x.burial_depth
                    </td>
                    <td>
                        @x.WESTTOHEAD
                    </td>
                    <td>
                        @x.WESTTOFEET
                    </td>
                    <td>
                        @x.SOUTHTOHEAD
                    </td>
                    <td>
                        @x.SOUTHTOFEET
                    </td>
                    <td>
                        @x.Preservation
                    </td>
                    <td>
                        @x.Burial_Situation
                    </td>
                    <td>
                        @x.head_direction
                    </td>
                    <td>
                        @x.Adult_Child
                    </td>
                    <td>
                        @x.estimate_age
                    </td>
                    <td>
                        @x.AGEMETHOD
                    </td>
                    <td>
                        @x.gender_body_col
                    </td>
                    <td>
                        @x.Sex_Gender_GE
                    </td>
                    <td>
                        @x.SEXMETHOD
                    </td>
                    <td>
                        @x.GE_function_total
                    </td>
                    <td>
                        @x.length_of_remains
                    </td>
                    <td>
                        @x.sample_number
                    </td>
                    <td>
                        @x.basilar_suture
                    </td>
                    <td>
                        @x.ventral_arc
                    </td>
                    <td>
                        @x.subpubic_angle
                    </td>
                    <td>
                        @x.sciatic_notch
                    </td>
                    <td>
                        @x.pubic_bone
                    </td>
                    <td>
                        @x.preaur_sulcus
                    </td>
                    <td>
                        @x.medial_IP_ramus
                    </td>
                    <td>
                        @x.dorsal_pitting
                    </td>
                    <td>
                        @x.femur_head
                    </td>
                    <td>
                        @x.humerus_head
                    </td>
                    <td>
                        @x.osteophytosis
                    </td>
                    <td>
                        @x.pubic_symphysis
                    </td>
                    <td>
                        @x.femur_length
                    </td>
                    <td>
                        @x.humerus_length
                    </td>
                    <td>
                        @x.tibia_length
                    </td>
                    <td>
                        @x.robust
                    </td>
                    <td>
                        @x.supraorbital_ridges
                    </td>
                    <td>
                        @x.orbit_edge
                    </td>
                    <td>
                        @x.parietal_bossing
                    </td>
                    <td>
                        @x.gonian
                    </td>
                    <td>
                        @x.nuchal_crest
                    </td>
                    <td>
                        @x.zygomatic_crest
                    </td>
                    <td>
                        @x.cranial_suture
                    </td>
                    <td>
                        @x.maximum_cranial_length
                    </td>
                    <td>
                        @x.maximum_cranial_breadth
                    </td>
                    <td>
                        @x.basion_bregma_height
                    </td>
                    <td>
                        @x.basion_nasion
                    </td>
                    <td>
                        @x.basion_prosthion_length
                    </td>
                    <td>
                        @x.bizygomatic_diameter
                    </td>
                    <td>
                        @x.nasion_prosthion
                    </td>
                    <td>
                        @x.maximum_nasal_breadth
                    </td>
                    <td>
                        @x.interorbital_breadth
                    </td>
                    <td>
                        @x.artifacts_description
                    </td>
                    <td>
                        @x.hair_color
                    </td>
                    <td>
                        @x.hair_taken
                    </td>
                    <td>
                        @x.soft_tissue_taken
                    </td>
                    <td>
                        @x.bone_taken
                    </td>
                    <td>
                        @x.tooth_taken
                    </td>
                    <td>
                        @x.textile_taken
                    </td>
                    <td>
                        @x.SAMPLE
                    </td>
                    <td>
                        @x.description_of_taken
                    </td>
                    <td>
                        @x.artifact_found
                    </td>
                    <td>
                        @x.estimate_living_stature
                    </td>
                    <td>
                        @x.tooth_attrition
                    </td>
                    <td>
                        @x.tooth_eruption
                    </td>
                    <td>
                        @x.pathology_anomalies
                    </td>
                    <td>
                        @x.epiphyseal_union
                    </td>
                    <td>
                        @x.year_found
                    </td>
                    <td>
                        @x.month_found
                    </td>
                    <td>
                        @x.day_found
                    </td>
                    <td>
                        @x.Field_Book
                    </td>
                    <td>
                        @x.Field_Book_Page_Number
                    </td>
                    <td>
                        @x.Skull_At_Magazine
                    </td>
                    <td>
                        @x.Postcrania_At_Magazine
                    </td>
                    <td>
                        @x.Rack_And_Shelf
                    </td>
                    <td>
                        @x.To_Be_Confirmed
                    </td>
                    <td>
                        @x.Skull_Trauma
                    </td>
                    <td>
                        @x.Postcrania_Trauma
                    </td>
                    <td>
                        @x.Cribra_Orbitala
                    </td>
                    <td>
                        @x.Porotic_Hyperostosis
                    </td>
                    <td>
                        @x.Porotic_Hyperostosis_Locations
                    </td>
                    <td>
                        @x.Metopic_Suture
                    </td>
                    <td>
                        @x.Button_Osteoma
                    </td>
                    <td>
                        @x.Osteology_Unknown_Comment
                    </td>
                    <td>
                        @x.Temporal_Mandibular_Joint_Osteoarthritis
                    </td>
                    <td>
                        @x.Linear_Hypoplasia_Enamel
                    </td>
                    <td>
                        @x.Area_Hill_Burials
                    </td>
                    <td>
                        @x.Tomb
                    </td>
                    <td>
                        @x.Goods
                    </td>
                    <td>
                        @x.Cluster
                    </td>
                    <td>
                        @x.Face_Bundle
                    </td>
                    <td>
                        @x.Body_Analysis_Year
                    </td>



                    @*Edit Movies matching edit and movieId research*@
                    <td>
                        <form id="@x.Burial_Id" asp-action="EditDetailForm" method="post" class="btn-outline-info">
                            <input type="hidden" asp-for="@x.Burial_Id" name="editId2" />
                            <button type="submit">Edit</button>
                        </form>
                    </td>

                    @*Delete Existing Movies using deleteid research*@
                    <td>
                        <form id="@x.Burial_Id" asp-action="DeleteDetailRecord" method="post" class="btn-outline-info">
                            <input type="hidden" asp-for="@x.Burial_Id" name="deletionId2" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>

                </tr>
                }


            </tbody>
        </table>
    </div>

</div>