@model DigginPharoh.Models.ViewModels.IndexViewModel


@{
    Layout = "_Layout_Summary";
}

<style>
    body {
        background-image: url('../img/EgyptDesert_1.jpg');
    }

    .btn-dark:hover, .btn-dark:active {
        background-color: ghostwhite;
        color: black;
    }
</style>
<head>
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/css/bsSumList.css" rel="stylesheet">
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>

<body>
    <h1 class="BurialH1">Burial Summary</h1>

    <div class="row">
        <div class="col-md-2">
            <!--Filters go here-->
            <form asp-action="Filter" method="post">
                <div class="form-group">
                    <label>Head Direction:</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(ViewBag.HeadDirFilterValues, "Key", "Value", ViewBag.Filters.HeadDirection))">
                        <option value="all">All</option>
                    </select>
                </div>

                <!--FIXME:: Buried Drop Down needs to be auto Calculated-->

                <div class="form-group">
                    <label>Depth Buried:</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(ViewBag.DepthFilterValues, "Key", "Value", ViewBag.Filters.Depth))">
                        <option value=999>All</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Sex:</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(ViewBag.SexGeFilterValues, "Key", "Value", ViewBag.Filters.SexGE))">
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Body Gender:</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(ViewBag.GenderFilterValues, "Key", "Value", ViewBag.Filters.GenderBodCol))">
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Preservation Condition</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(ViewBag.PreservFilterValues, "Key", "Value", ViewBag.Filters.Preservation))">
                        <option value="all">All</option>
                    </select>
                </div>
                <button type="submit" class="btn filter-bt">Filter</button>
            </form>


            <a asp-action="BurialSummary" asp-route-id="" class="btn filter-bt">Clear</a>

        </div>

        <div class="col-md-10" style="max-height:800px">
            <form>
                <div class="form-group">
                    <input asp-action="Create" asp-controller="Id" type="submit" value="New Record" class="btn NewRocord-bt" />
                </div>
            </form>


            <div class="h-75 d-inline-block tableFixHead">
                <table class="table table-striped table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Burial ID</th>
                            <th scope="col">Depth</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Body Gender</th>
                            <th scope="col">Head Direction</th>
                            <th scope="col">Preservation</th>
                            <th scope="col">Year Found</th>
                            <th><!--This is a blank col for the button--></th>
                            <th><!--This is a blank col for the button--></th>
                            <th><!--This is a blank col for the button--></th>
                        </tr>
                    </thead>
                    <publictbody>
                        @foreach (var x in Model.BurialList)
                        {
                            <tr>

                                <td scope="row">@x.Burial_Id</td>
                                <td>@x.burial_depth cm.</td>
                                <td>@x.Sex_Gender_GE</td>
                                <td>@x.gender_body_col</td>
                                <td>@x.head_direction</td>
                                <td>@x.Preservation</td>
                                <td>@x.year_found</td>
                                @*<td><a type="button" class="btn-outline-info">Details</a></td>*@

                                @*See the Detail of the Gamous*@
                                <td>
                                    <form id="@x.Burial_Id" asp-action="BurialDetails" method="post" class="">
                                        <input type="hidden" asp-for="@x.Burial_Id" name="detailId" />
                                        @*<button type="submit">Detail</button>*@
                                        <button class="btn-sum btn-primary" type="submit" data-toggle="tooltip" data-placement="top" title="View">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </form>
                                </td>

                                @*Edit Movies matching edit and movieId research*@
                                <td>
                                    <form id="@x.Burial_Id" asp-action="EditForm" method="post" class="btn-outline-info">
                                        <input type="hidden" asp-for="@x.Burial_Id" name="editId" />
                                        @*<button type="submit">Edit</button>*@
                                        <button class="btn-sum btn-success" type="submit" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </form>
                                </td>

                                @*Delete Existing Movies using deleteid research*@
                                <td>
                                    <form id="@x.Burial_Id" asp-action="BurialSummary" method="post" class="btn-outline-info">
                                        <input type="hidden" asp-for="@x.Burial_Id" name="deletionId" />
                                        @*<button type="submit">Delete</button>*@
                                        <button class="btn-sum btn-danger" type="submit" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>

                            </tr>
                        }
                    </publictbody>
                </table>
            </div>
            <div class="col-md-10" style="padding-left:8.5rem;">
                <div page-model="@Model.PagingInfo" page-action="BurialSummary"
                     page-classes-enabled="true" page-class="btn"
                     page-class-normal="btn-dark "
                     page-class-selected="btn-light text-dark"
                     class="btn-group btn-group-sm pull-right m-1">
                </div>
            </div>
        </div>
    </div>

</body>
