@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout-client";
}
@model DigginPharoh.Models.ViewModels.IndexViewModel

<head>
    <!-- Style.css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Plugins.css -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/bsDetails.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>

<body>
    <br /><br />

    <div>
        <h1 class="BurialH1">Burial Detailes</h1>
    </div>
    <div class="text-center">
        @foreach (var x in Model.BurialList)
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-6 row-bt">
                        <form id="@x.Burial_Id" asp-action="DetailEditForm" method="post">
                            <input type="hidden" asp-for="@x.Burial_Id" name="editId" />
                            <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="fa fa-edit"></i>
                            </button>

                        </form>

                            @*Delete Existing Burial Record using deleteid research*@
                        <form id="@x.Burial_Id" asp-action="BurialDetails" method="post">
                            <input type="hidden" asp-for="@x.Burial_Id" name="deletionId" />
                            <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <input class="backBT" type="button" value="Go back!" onclick="history.back()">

    <div class="container">
        <fieldset class="fieldset-outer">
            <div class="row">
                <div class="col-md-4">
                    @foreach (var x in Model.BurialList)
                    {
                        <fieldset>
                            <label>Burial ID</label>
                            <input type="text" value="@x.Burial_Id" readonly /><br /><br />

                            <label>Gamous_Id</label>
                            <input type="text" value="@x.Gamous_Id" readonly /><br /><br />

                            <label>Burial Depth</label>
                            <input type="text" value="@x.burial_depth" readonly /><br /><br />

                            <label>WEST TO Head</label>
                            <input type="text" value="@x.WESTTOHEAD" readonly /><br /><br />

                            <label>WEST TO Feet</label>
                            <input type="text" value="@x.WESTTOFEET" readonly /><br /><br />

                            <label>SOUTH TO Head</label>
                            <input type="text" value="@x.SOUTHTOHEAD" readonly /><br /><br />

                            <label>SOUTH TO Feet</label>
                            <input type="text" value="@x.SOUTHTOFEET" readonly /><br /><br />

                            <label>Preservation</label>
                            <input type="text" value="@x.Preservation" readonly /><br /><br />

                            <label>Burial Situation</label>
                            <input type="text" value="@x.Burial_Situation" readonly /><br /><br />

                            <label>Head Direction</label>
                            <input type="text" value="@x.head_direction" readonly /><br /><br />

                            <label>Adult/Child</label>
                            <input type="text" value="@x.Adult_Child" readonly /><br /><br />

                            <label>Estimate Age</label>
                            <input type="text" value="@x.estimate_age" readonly /><br /><br />

                            <label>Age Method</label>
                            <input type="text" value="@x.AGEMETHOD" readonly /><br /><br />

                            <label>Gender Body Col</label>
                            <input type="text" value="@x.gender_body_col" readonly /><br /><br />

                            <label>Sex Gender GE</label>
                            <input type="text" value="@x.Sex_Gender_GE" readonly /><br /><br />

                            <label>Sex Method</label>
                            <input type="text" value="@x.SEXMETHOD" readonly /><br /><br />

                            <label>GE_function_total</label>
                            <input type="text" value="@x.GE_function_total" readonly /><br /><br />

                            <label>Length_of_remains</label>
                            <input type="text" value="@x.length_of_remains" readonly /><br /><br />

                            <label>Rack & Shelf</label>
                            <input type="text" value="@x.Rack_And_Shelf" readonly /><br /><br />

                            <label>Button Osteoma</label>
                            <input type="text" value="@x.Button_Osteoma" readonly /><br /><br />

                            <label>Tomb</label>
                            <input type="text" value="@x.Tomb" readonly /><br /><br />

                            <label>Goods</label>
                            <input type="text" value="@x.Goods" readonly /><br /><br />

                            <label>Cluster</label>
                            <input type="text" value="@x.Cluster" readonly /><br /><br />

                            <label>Face_Bundle</label>
                            <input type="text" value="@x.Face_Bundle" readonly /><br /><br />

                            <label>Area Hill Burials</label>
                            <input type="text" value="@x.Area_Hill_Burials" readonly /><br /><br />

                            <label>Linear Hypoplasia Enamel</label>
                            <input type="text" value="@x.Linear_Hypoplasia_Enamel" readonly /><br /><br />

                            <label>Body Analysis Year</label>
                            <input type="text" value="@x.Body_Analysis_Year" readonly /><br /><br />

                            <label>Temporal Mandibular Joint Osteoarthritis</label>
                            <input type="text" value="@x.Temporal_Mandibular_Joint_Osteoarthritis" readonly /><br /><br />

                            <label>Osteology Unknown Comment</label>
                            <input type="text" value="@x.Osteology_Unknown_Comment" readonly /><br /><br />

                            <label>To Be Confirmed</label>
                            <input type="text" value="@x.To_Be_Confirmed" readonly /><br /><br />
                        </fieldset>
                    }
                </div>

                <div class="col-md-4">
                    @foreach (var x in Model.BurialList)
                    {
                        <fieldset>
                            <label>Sample#</label>
                            <input type="text" value="@x.SAMPLE" readonly /><br /><br />

                            <label>Basilar Suture</label>
                            <input type="text" value="@x.basilar_suture" readonly /><br /><br />

                            <label>Ventral Arc</label>
                            <input type="text" value="@x.ventral_arc" readonly /><br /><br />

                            <label>Subpubic Angle</label>
                            <input type="text" value="@x.subpubic_angle" readonly /><br /><br />

                            <label>Sciatic Notch</label>
                            <input type="text" value="@x.sciatic_notch" readonly /><br /><br />

                            <label>Pubic Bone</label>
                            <input type="text" value="@x.pubic_bone" readonly /><br /><br />

                            <label>Preaur Sulcus</label>
                            <input type="text" value="@x.preaur_sulcus" readonly /><br /><br />

                            <label>Medial IP Ramus</label>
                            <input type="text" value="@x.medial_IP_ramus" readonly /><br /><br />

                            <label>Dorsal Pitting</label>
                            <input type="text" value="@x.dorsal_pitting" readonly /><br /><br />

                            <label>Femur Head</label>
                            <input type="text" value="@x.femur_head" readonly /><br /><br />

                            <label>Humerus Head</label>
                            <input type="text" value="@x.humerus_head" readonly /><br /><br />

                            <label>Osteophytosis</label>
                            <input type="text" value="@x.osteophytosis" readonly /><br /><br />

                            <label>Pubic Symphysis</label>
                            <input type="text" value="@x.pubic_symphysis" readonly /><br /><br />

                            <label>Femur Length</label>
                            <input type="text" value="@x.femur_length" readonly /><br /><br />

                            <label>Humerus Length</label>
                            <input type="text" value="@x.humerus_length" readonly /><br /><br />

                            <label>Tibia Length</label>
                            <input type="text" value="@x.tibia_length" readonly /><br /><br />

                            <label>Robust</label>
                            <input type="text" value="@x.robust" readonly /><br /><br />

                            <label>Supraorbital Ridges</label>
                            <input type="text" value="@x.supraorbital_ridges" readonly /><br /><br />

                            <label>Hair Color</label>
                            <input type="text" value="@x.hair_color" readonly /><br /><br />

                            <label>Hair Taken</label>
                            <input type="text" value="@x.hair_taken" readonly /><br /><br />

                            <label>Postcrania At Magazine</label>
                            <input type="text" value="@x.Postcrania_At_Magazine" readonly /><br /><br />

                            <label>Skull Trauma</label>
                            <input type="text" value="@x.Skull_Trauma" readonly /><br /><br />

                            <label>Postcrania Trauma</label>
                            <input type="text" value="@x.Postcrania_Trauma" readonly /><br /><br />

                            <label>Cribra Orbitala</label>
                            <input type="text" value="@x.Cribra_Orbitala" readonly /><br /><br />

                            <label>Porotic Hyperostosis</label>
                            <input type="text" value="@x.Porotic_Hyperostosis" readonly /><br /><br />

                            <label>Porotic Hyperostosis Locations</label>
                            <input type="text" value="@x.Porotic_Hyperostosis_Locations" readonly /><br /><br />

                            <label>Metopic Suture</label>
                            <input type="text" value="@x.Metopic_Suture" readonly /><br /><br />

                            <label>Artifacts Description</label>
                            <input type="text" value="@x.artifacts_description" readonly /><br /><br />

                            <label>Interorbital Breadth</label>
                            <input type="text" value="@x.interorbital_breadth" readonly /><br /><br />

                            <label>Max Nasal Breadth</label>
                            <input type="text" value="@x.maximum_nasal_breadth" readonly /><br /><br />
                        </fieldset>
                    }
                </div>

                <div class="col-md-4">
                    @foreach (var x in Model.BurialList)
                    {
                        <fieldset>

                            <label>Orbit Edge</label>
                            <input type="text" value="@x.orbit_edge" readonly /><br /><br />

                            <label>Soft Tissue Taken</label>
                            <input type="text" value="@x.soft_tissue_taken" readonly /><br /><br />

                            <label>Bone Taken</label>
                            <input type="text" value="@x.bone_taken" readonly /><br /><br />

                            <label>Tooth Taken</label>
                            <input type="text" value="@x.tooth_taken" readonly /><br /><br />

                            <label>Token Description</label>
                            <input type="text" value="@x.description_of_taken" readonly /><br /><br />

                            <label>Artifact Found</label>
                            <input type="text" value="@x.artifact_found" readonly /><br /><br />

                            <label>Est. Living Stature</label>
                            <input type="text" value="@x.estimate_living_stature" readonly /><br /><br />

                            <label>Tooth Attrition</label>
                            <input type="text" value="@x.tooth_attrition" readonly /><br /><br />

                            <label>Tooth Eruption</label>
                            <input type="text" value="@x.tooth_eruption" readonly /><br /><br />

                            <label>Pathology Anomalies</label>
                            <input type="text" value="@x.pathology_anomalies" readonly /><br /><br />

                            <label>Epiphyseal Union</label>
                            <input type="text" value="@x.epiphyseal_union" readonly /><br /><br />

                            <label>Year Found</label>
                            <input type="text" value="@x.year_found" readonly /><br /><br />

                            <label>Month Found</label>
                            <input type="text" value="@x.month_found" readonly /><br /><br />

                            <label>Day Found</label>
                            <input type="text" value="@x.day_found" readonly /><br /><br />

                            <label>Field_Book</label>
                            <input type="text" value="@x.Field_Book" readonly /><br /><br />

                            <label>FieldBook Pg_Num</label>
                            <input type="text" value="@x.Field_Book_Page_Number" readonly /><br /><br />

                            <label>Skull At Magazine</label>
                            <input type="text" value="@x.Skull_At_Magazine" readonly /><br /><br />

                            <label>Nasion Prosthion</label>
                            <input type="text" value="@x.nasion_prosthion" readonly /><br /><br />

                            <label>Bizygomatic Diameter</label>
                            <input type="text" value="@x.bizygomatic_diameter" readonly /><br /><br />

                            <label>Basion Prosthion Length</label>
                            <input type="text" value="@x.basion_prosthion_length" readonly /><br /><br />

                            <label>Basion Nasion</label>
                            <input type="text" value="@x.basion_nasion" readonly /><br /><br />

                            <label>Basion Bregma Height</label>
                            <input type="text" value="@x.basion_bregma_height" readonly /><br /><br />

                            <label>Maximum Cranial Breadth</label>
                            <input type="text" value="@x.maximum_cranial_breadth" readonly /><br /><br />

                            <label>Max Cranial Length</label>
                            <input type="text" value="@x.maximum_cranial_length" readonly /><br /><br />

                            <label>Cranial Suture</label>
                            <input type="text" value="@x.cranial_suture" readonly /><br /><br />

                            <label>Zygomatic Crest</label>
                            <input type="text" value="@x.zygomatic_crest" readonly /><br /><br />

                            <label>Nuchal Crest</label>
                            <input type="text" value="@x.nuchal_crest" readonly /><br /><br />

                            <label>Gonian</label>
                            <input type="text" value="@x.gonian" readonly /><br /><br />

                            <label>Parietal Bossing</label>
                            <input type="text" value="@x.parietal_bossing" readonly /><br /><br />
                        </fieldset>
                    }
                </div>
            </div>
        </fieldset>
    </div>
</body>


