@model DigginPharoh.Models.BiologicalSamples

@{
    ViewBag.title = "Create BioSample";
    Layout = "_Layout_Summary";
}
<head>
    <!-- External css  -->
    <link href="~/css/spForm/style.css" rel="stylesheet" />
    <link href="~/css/spForm/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Plugins.css -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>

<style>
    body {
        font-family: 'Lato', sans-serif;
        background-image: url('@Url.Content("~/img/TombBackground.jpg")');
    }
</style>

<div class="main">
    <div class="container">
        <form asp-action="Create" class="appointment-form" id="appointment-form">
            <h2>@ViewBag.title</h2>
            <div class="form-group-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="select-list">
                    <label>Burial Id</label>
                    <input value="@ViewBag.BurialId" readonly />
                </div>

                <div class="select-list">
                    <label asp-for="Container_Type"></label>
                    <input asp-for="Container_Type" />
                    <span asp-validation-for="Container_Type" class="text-danger"></span>
                </div>

                <div class="select-list">
                    <label asp-for="Container_num"></label>
                    <input asp-for="Container_num" />
                    <span asp-validation-for="Container_num" class="text-danger"></span>
                </div>

                <div class="select-list">
                    <label asp-for="Large_Item"></label>
                    <input asp-for="Large_Item" />
                    <span asp-validation-for="Large_Item" class="text-danger"></span>
                </div>

                <div class="select-list">
                    <label asp-for="Cluster_num"></label>
                    <input asp-for="Cluster_num" />
                    <span asp-validation-for="Cluster_num" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group-2">
                <div class="select-list">
                    <label asp-for="Previously_Sampled"></label>
                    <input asp-for="Previously_Sampled" />
                    <span asp-validation-for="Previously_Sampled" class="text-danger"></span>
                </div>

                <div class="select-list">
                    <label asp-for="Notes"></label>
                    <input asp-for="Notes" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <div class="select-list">
                    <label asp-for="Initials"></label>
                    <input asp-for="Initials" />
                    <span asp-validation-for="Initials" class="text-danger"></span>
                </div>

                <div class="select-list">
                    <label>Do you wish to add an additional reocrd for @ViewBag.BurialId at this time?</label>
                    <select asp-for="Burial_id">
                        <option>Not now</option>
                        <option>Yes, a Burial</option>
                        <option>Yes, a Biological Sample</option>
                        <option>Yes, a Cranial Record</option>
                        <option>Yes, a Carbon Dating Record</option>
                        <option>Yes, a Note</option>
                    </select>
                    <span asp-validation-for="Burial_id" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="form-submit">
                        <button type="submit" name="submit" id="submit" class="return float-right" asp-action="Index">Back</button>
                    </div>

                    <div class="form-submit">
                        <button asp-route-id="@ViewBag.BurialId" type="submit" class="submit float-right">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
        
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
