@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Edit A Record";
}

@*@model DigginPharoh.Models.ViewModels.IndexViewModel*@
@model DigginPharoh.Models.Burial


<form asp-action="BurialDetails" method="post">
    <input type="hidden" asp-for="Burial_Id" value="@ViewBag.burialToEdit.Burial_Id" />
    <div>
        <label asp-for="Burial_Id">Burial ID</label>
        <input asp-for="Burial_Id" value="@ViewBag.burialToEdit.Burial_Id" required />
    </div>

    <div>
        <label asp-for="Gamous_Id">Gamous_Id</label>
        <input asp-for="Gamous_Id" value="@ViewBag.burialToEdit.Gamous_Id" />
    </div>

    <div>
        <label asp-for="burial_depth">burial_depth</label>
        <input asp-for="burial_depth" value="@ViewBag.burialToEdit.burial_depth" />
    </div>

    <div>
        <label asp-for="WESTTOHEAD">WESTTOHEAD </label>
        <input asp-for="WESTTOHEAD" value="@ViewBag.burialToEdit.WESTTOHEAD" />
    </div>

    <div>
        <label asp-for="WESTTOFEET">WESTTOFEET</label>
        <input asp-for="WESTTOFEET" value="@ViewBag.burialToEdit.WESTTOFEET" />
    </div>

    <div>
        <label asp-for="SOUTHTOHEAD">Preservation</label>
        <input asp-for="SOUTHTOHEAD" value="@ViewBag.burialToEdit.SOUTHTOHEAD" />
    </div>

    <div>
        <label asp-for="SOUTHTOFEET">Year Found</label>
        <input asp-for="SOUTHTOFEET" value="@ViewBag.burialToEdit.SOUTHTOFEET" />
    </div>

    @*Need to all more in here and change the direct link for detail edit button, and add more in shared section in the home controller*@


    <button type="submit">Submit Your New Record</button>

    <div asp-validation-summary="All"></div>
</form>