@model IEnumerable<DigginPharoh.Models.BiologicalSamples>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Container_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Container_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Large_Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cluster_num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Previously_Sampled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Initials)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Container_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Container_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Large_Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cluster_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Previously_Sampled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Burial_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Burial_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Burial_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
