@model IEnumerable<DigginPharoh.Models.Carbon_Dating>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AREA_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rack_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TUBE_Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size_ml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C14_Sample_2017)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conventional_14C_Age_BP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calendar_Date_14C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated_95_Calendar_Date_MAX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated_95_Calendar_Date_MIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated_95_Calendar_Date_SPAN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calibrated_95_Calendar_Date_AVG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AREA_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rack_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TUBE_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size_ml)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C14_Sample_2017)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conventional_14C_Age_BP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calendar_Date_14C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated_95_Calendar_Date_MAX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated_95_Calendar_Date_MIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated_95_Calendar_Date_SPAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calibrated_95_Calendar_Date_AVG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Burial_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Burial_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Burial_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
